/*start*/
body
{
    background-color: skyblue;
}
h1
{
    text-align:center;
}
/*input&output*/
#textarea1
{
    width:40cm;
    height:8cm;
}
#textarea2
{
    width:40cm;
    height:8cm;
}
/*different buttons*/
#button-encodeuri
{
    width:10cm;
    height:1cm;
}
#button-encodeuricomponent
{
    width:14cm;
    height:1cm;
}
#decode
{
    width:40cm;
    height:1cm;
}
#button-reset
{
    width:6.6cm;
    height:1cm;
}
#button-multiple_encode
{
    width:9cm;
    height:1cm;
}
#button-home
{
    width:2cm;
    height:1cm;
}
/*all buttons*/
button
{
    border-radius:10px;
    background-color:skyblue;
    color:blue;
}
button:hover
{
    background-color:blue;
    color:skyblue;
}
button:active
{
    background-color:red;
}